<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yh.bottomnavigationex">

    <application>
        <provider
            android:name=".BNVExInit"
            android:authorities="${applicationId}.bnvex.init"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>